input:hover {
    cursor: url(http://ani.cursors-4u.net/games/gam-16/gam1535.cur), auto !important;
}

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/
.window {
    display: flex; flex-direction: column;
    width: 89vw; height: auto; margin: 5px auto;
    padding: 15px; border-bottom: 3px dashed black;
}
.item {
    display: flex; flex-direction: column;
    width: 25%; text-align: center;
    padding: 5px 10px; margin-bottom: 45px;
}

input {
    width: 75px; height: 54px;
    padding: 0px; margin-top: 5px; 
    margin-left: auto; margin-right: auto;
    background-color: skyblue; font-size: 54px;
    z-index: 1; text-align: right;
}

#receipt { 
    display: flex; flex-direction: row; 
    margin: 30px 55px; font-size: 22px; }
.line img { width: 45px; height: 45px; padding-right: 10px; }
.line p { margin-top: 14px; }
.line { display: flex; flex-direction: row; }
/*.receiptRight {
    background-image: url("https://gamepedia.cursecdn.com/minecraft_gamepedia/thumb/b/b2/Paper.png/150px-Paper.png?version=11a4eebc6e956e3f99f1d3221b0eebf0");
    background-repeat: no-repeat; background-position: center;
    background-size: cover; min-height: 160px;
}*/
.rp img { width: 75%; }



























/* i stole this from w3schools lol xd RAWR */

.tooltip { position: relative; display: inline-block; }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 145px; bottom: 100%; left: 50%; margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }